/* .parallax-container {
    background: url(https://placeimg.com/1000/300/nature) no-repeat center center;
    background-size: cover;
} */
.parallax-container .section {
    margin: 3rem auto;
}

@media only screen and (max-width: 992px) {
    #index-banner .section {
        top: 0;
    }
}

@media only screen and (max-width: 992px) {
    .parallax-container[_ngcontent-c4] .section[_ngcontent-c4] {
        margin: 0;
    }
}

.allog-title {
    letter-spacing: .4rem;
    font-weight: 300;
    font-size: 6rem;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.48);
    padding: .4rem 1rem;
    margin-bottom: 0;
}

.sub-title {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.48);
    padding: .4rem 1rem;
    text-transform: uppercase;
    width: initial !important;
    float: none;
}

.quotation {
    font-family: 'Lucida Sans Unicode';
    display: inline-block;
    font-size:1.4rem;
    line-height: 1.6;
}

.quotation i {
    background-color: rgba(0, 0, 0, 0.48);
    display: block;
    max-width: 33rem;
}
.quotation-author {
    display: block;
    float: right;
    background-color: rgba(0, 0, 0, 0.48);
    margin-top: .2rem;
    font-size: 1.6rem;
}