<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header allog-title">ALLOG</h1><br>
          <h3 class="header col s12 light sub-title">photography</h3><br>
          <div class="quotation"><i>"Когда люди спрашивают меня, какое оборудование я использую, я говорю им - глаза"</i> 
            <div class="quotation-author">Ричард Келвар.</div>
          </div>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/img/allog-bg.jpg" alt="Unsplashed background img 1"></div>
  </div>