<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l5 s12" style="line-height: inherit;">
        <h5 class="white-text">О сайте</h5>
        <p class="grey-text text-lighten-4">Сайт-портфолио фотографа Алины Логвиновой</p>
        <p class="grey-text text-lighten-4">Фотосессии в Черноморске и Одессе</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Меню</h5>
        <ul>
          <li><a class="white-text" routerLink="/">Главная</a></li>
          <li><a class="white-text" routerLink="/portfolio">Портфолио</a></li>
          <li><a class="white-text" routerLink="/my-services">Услуги</a></li>
          <li><a class="white-text" routerLink="/contacts">Заказать</a></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Соцсети <i class="material-icons">touch_app</i></h5>
        <ul class="socials">
          <li><a target="_blank" href="https://www.flickr.com/photos/allogphotos/albums"><img title="flickr" alt="flickr" class="social-icon" src="assets/img/flicr.png"></a></li>
          <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100012807035169"><img title="facebook" alt="facebook" class="social-icon" src="assets/img/fb.png"></a></li>
          <li><a target="_blank" href="https://www.instagram.com/alrocket_log/"><img title="instagram" alt="instagram" class="social-icon" src="assets/img/insta.png"></a></li>
          <li><a target="_blank" href="https://vk.com/alrocket_log"><img title="vk" alt="vk" class="social-icon" src="assets/img/vk.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container" style="text-align:center;">
      Development by <a class="brown-text text-lighten-3" href="http://vk.com/palemoon">Palemoon</a>
      <br>Inspired by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>