<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">This is website-portfolio of the best photographer Alina Logvinova!</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Menu</h5>
        <ul>
          <li><a class="white-text" href="#!">Home</a></li>
          <li><a class="white-text" href="#!">Portfolio</a></li>
          <li><a class="white-text" href="#!">About me</a></li>
          <li><a class="white-text" href="#!">Contacts</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Social Links</h5>
        <ul>
          <li><a class="white-text" href="#!">Vk</a></li>
          <li><a class="white-text" href="#!">Instagram</a></li>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Flikr</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Development by <a class="brown-text text-lighten-3" href="http://vk.com/palemoon">Palemoon</a>
      Components by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>