nav .nav-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logo-container {
    display: flex;
    position: relative;
}

@media (min-width: 470px) {
    .brand-logo-large {
        display: flex;
    }

    .brand-logo-small {
        display: none !important;
    }
}

@media (max-width: 469px) {
    .brand-logo-small {
        display: flex;
    }

    .brand-logo-large {
        display: none !important;
    }
}