<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <ul class="left hide-on-med-and-down">
        <li 
          routerLinkActive="active current"
          [routerLinkActiveOptions]="{ exact: true }">
            <a 
              routerLink="/">Главная</a>
        </li>
        <li routerLinkActive="active current"><a routerLink="/portfolio">Портфолио</a></li>
        <!-- <li routerLinkActive="active current"><a routerLink="/my-services">Услуги</a></li> -->
      </ul>
    
    <!-- For large displays >470px -->
    <a id="logo-container" routerLink="/" class="brand-logo brand-logo-large">Alina Logvinova</a>
    <!-- For small displays -->
    <a id="logo-container" routerLink="/" class="brand-logo brand-logo-small">AL</a>

    <ul class="right hide-on-med-and-down">
      <!-- <li routerLinkActive="active current"><a routerLink="/inspiration">Вдохновение</a></li> -->
      <li routerLinkActive="active current"><a routerLink="/my-services">Услуги</a></li>
      <li routerLinkActive="active current"><a routerLink="/contacts">Заказать</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a routerLink="/">Главная</a></li>
      <li><a routerLink="/portfolio">Портфолио</a></li>
      <li><a routerLink="/my-services">Услуги</a></li>
      <li><a routerLink="/contacts">Заказать</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>