<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style=" background-image: url('assets/img/portraits.jpg');">
        <div class="image-caption light">
          PORTRAITS
        </div>
      </div>
      <div class="swiper-slide" style=" background-image: url('assets/img/ch-b.jpg');">
        <div class="image-caption light">
          BLACK && WHITE
        </div>
      </div>
      <div class="swiper-slide" style=" background-image: url('assets/img/nature.jpg');">
        <div class="image-caption light">
          NATURE
        </div>
      </div>
      <div class="swiper-slide" style=" background-image: url('assets/img/photo.jpg');">
        <div class="image-caption light">
          ANOTHER
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
      