<div class="row">
  <h3 class="center-align">О фотографе</h3>
  <div class="col m10 offset-m1 l12">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/img/alina.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Обо мне<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Перейти на страницу</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Обо мне<i class="material-icons right">close</i></span>
        <p>Занимаюсь:</p><p>Фотография, дизайн полиграфии. Орг.команда - Арт-объединение "Фермата", 
          Театр Ушей. Музыкальный обозреватель (Great Albums)</p>
        <p>Увлечения:</p>
        <p>Музыка, кинематограф, фотоискусство, литература, графика (дизайн), психология, архитектура, живопись, философия, история, панорамное искусство</p>
      </div>
    </div>
  </div>
</div>