<!-- <h3 class="center-align">О фотографе</h3> -->
<!-- <div class="col m10 offset-m1 l12"> -->
    <!-- <div class="col s12 m7"> -->
<h3 class="center-align">Обо мне</h3>
<div class="card horizontal">
  <div class="row" style="margin-bottom: 0;">
    <!-- Only visible on > m screens -->
    <div class="col m5 l4 avatar-about-large">
    </div>
    <!-- Only visible on s screens -->
    <div class="col s10 offset-s1 avatar-about-small">
    </div>
    <div class="col s12 m7 l8 xl8">
      <div class="card-stacked">
        <div class="card-content">
            <p class="flow-text">Всем доброго дня!</p>
            <p class="flow-text">Меня зовут Алина. На данном сайте вы можете ознакомится с моими фотоработами в стиле портретной, пейзажной и репортажной съемки.</p>
            <p class="flow-text">Фотография для меня нечто большее, чем просто хобби. Это частичка жизни. Я всегда стараюсь найти красоту в мелочах и запечатлеть лучший момент. К портретной съемке тяготею больше всего. И стараюсь подходить к процессу съемки ответственно и всегда рада интересным и креативным идеям ;)</p>
            <p class="flow-text">Буду рада знакомству с каждым. Давайте создавать красоту вместе!</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn grey-btn" routerLink="/portfolio">Мои работы</a>
          <a class="waves-effect waves-light btn wide-btn" routerLink="/contacts">Заказать</a>
        </div>
      </div>
    </div>
  </div>
</div>
