  <!-- <h3 class="center-align">О фотографе</h3> -->
  <!-- <div class="col m10 offset-m1 l12"> -->
      <!-- <div class="col s12 m7"> -->
  <h3 class="center-align">Обо мне</h3>
  <div class="card horizontal">
    <div class="row" style="margin-bottom: 0;">

      <div class="col s10 m8 offset-m2 offset-s1 l4 xl4" style="line-height: 0;">
        <img class="responsive-img" src="assets/img/alina.jpg">
      </div>
      
      <div class="col s12 m12 l8 xl8">
        <div class="card-stacked">
          <div class="card-content">
              <p class="flow-text">Добрый день!</p>
              <p class="flow-text">Я Алина. И текст.</p>
              <p class="flow-text">Я Алина. И текст.</p>
              <p class="flow-text">Я Алина. И текст.</p>
              <p class="flow-text">Я Алина. И текст.</p>
              <p class="flow-text">Я Алина. И текст.</p>

          </div>
          <div class="card-action">
            <a routerLink="/about">Подробнее</a>
          </div>
        </div>
      </div>


    </div>
  </div>
