<h3 class="center-align">Примеры работ</h3>
<div class="row">
  <a href="#"> 
    <img class="responsive-img hoverable img-thumb" src="assets/img/portraits.jpg">
  </a>
  <a href="#">
    <img class="responsive-img hoverable img-thumb" src="assets/img/ch-b.jpg">
  </a>
  <a href="#">
    <img class="responsive-img hoverable img-thumb" src="assets/img/photo.jpg">
  </a>
  <a href="#"> 
    <img class="responsive-img hoverable img-thumb" src="assets/img/nature.jpg">
  </a>
  <a href="#"> 
      <img class="responsive-img hoverable img-thumb" src="assets/img/ch-b.jpg">
    </a>
</div>