<h1>Tasks application</h1>
  <form class="well">
    <div class="form-group">
      <input type="text" name="" id="" class="form-control" placeholder="Add Task" />
    </div>
  </form>
<!-- 
  <div *ngFor="let todo of todos" class="task-list">
    <div class="col-md-1"><input type="checkbox" name="" id="">
    </div>
    <div class="col-md-7">
      {{ todo.title }}
    </div>
    <div class="col-md-4">
      <input type="button" value="Update" class="btn btn-info" />
      <input type="button" value="Delete" class="btn btn-danger" />
    </div> -->
  <!-- </div> -->